* {
padding: 20px;
background: #f6f2f3;
text-align: center;
font-size: 24px;
font-weight: bold;
}
body {
background: #fafafa;
display: flex;
flex-direction: column;
}
header {
padding: 20px;
background: #ffb6c1;
text-align: center;
font-size: 24px;
font-weight: bold;
}

.filters {
display: flex;
flex-wrap: wrap;
gap: 10px;
padding: 20px;
justify-content: center;
}

@media (max-width: 1200px) { /* Заховала на меншому екрані */
.kcal {
display: none;
}
.h3 {
    text-align: center;
}
}

.filters button {
padding: 10px 18px;
border: none;
background: #ffe0e6;
cursor: pointer;
border-radius: 8px;
font-size: 14px;
}

.filters .reset {
background: #ffb6c1;
color: white;
}

/* Картинки */
.gallery {
display: grid;
gap: 20px;
padding: 20px;
}


.card {
background: white;
border-radius: 5px;
overflow: hidden;
display: flex;
flex-direction: column;
border: 1px solid #ddd;
}


.card img {
width: auto;
height: 220px;
object-fit: cover;
object-position: top;
border-bottom: 3px solid #ffb6c1;
}


.line {
width: 100%;
height: 3px;
background: #eeeaea;
margin: 10px 0;
}


.content {
padding: 15px;
flex-grow: 1;
}

.info-row {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 15px;
}

.kcal {
font-weight: bold;
color: #e26;
}

.desc {
padding: 0 15px;
padding-top: 5px;
font-size: 14px;
color: #555;
}


footer {
font-size: 15px;
margin-top: 40px;
background: #333;
padding: 20px;
color: white;
text-align: left;
}


/* Телефон */
.gallery {
grid-template-columns: 1fr;
}


/* фільтри зверху */
@media (min-width: 730px) and (max-width: 1200px) {
.gallery {
grid-template-columns: repeat(2, 1fr);
}
footer {
background: #444;
}
}


/* Ноут */
@media (min-width: 1200px) {
.gallery {
grid-template-columns: repeat(3, 1fr);
}
footer {
background: #222;
}
}
